@import url('https://fonts.googleapis.com/css2?family=Anta');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover');

:root {
    font-size: 12px;
    font-family: 'Irish Grover';
    --primary-color: hsl(150, 50%, 50%);
    --secondary-color: hsl(5, 75%, 50%);
    --navbar-width: 4rem;
    --navbar-full-width: 10rem;
    --navbar-transition-time: 0.5s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    height: 200vh;
}

body::-webkit-scrollbar {
    width: 0.40rem;
}

body::-webkit-scrollbar-track {
    background: var(--primary-color)

}

body::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
}

.Navbar:hover + .Main {
    margin-left: var(--navbar-full-width);
} 